<section data-role="content" data-theme="b" class="credit">
	<h1>フォトグラファー</h1>
	<h3>長谷川 圭祐</h3>
	<h1>アプリ制作</h1>
	<h3>Sova Lab</h3>
	<h1>連絡先</h1>
	<h3>写真について：</h3><h4>(写真家さんの連絡先) (@hasegawa_keisxx)</h4>
	<h3>アプリについて：</h3><h4>support@sova-lab.com (@sovaLab)</h4>
	<h1>著作権</h1>
	<h3>このアプリの写真は全て(写真家さんの名前)に著作権があります。ここで掲載している写真はアプリのみでご参照下さい。いかなる場合でも無断での転載は禁止します。もし別の用途でお使いになりたい場合は(写真家さんの連絡先)までご連絡下さい。</h3>
	<a href="#" data-role="button" data-icon="home">トップへ戻る</a>
</section>