<section data-role="content" data-theme="b">
	<h1 class="center">写真集（タイトル）</h1>
	<form class="form-inline" id="signinForm">
	  <a href="#main" type="button" data-role="button" data-icon="camera-retro" data-theme="b">写真を見る</a>
	  <a href="#credit" data-role="button" data-icon="video-camera" data-theme="a">クレジット</a>
	</form>
</section>