<section id="contents" class="contents"></section>
<section id="footer" class="footer" data-role="footer" data-fullscreen="true" data-tap-toggle="false" data-position="fixed">
	<nav data-role="navbar" data-iconpos="top">
		<ul>
			<li><button data-icon="home" data-iconpos="top" id="home"></button></li>
			<li><button data-icon="picture-o" data-iconpos="top" id="thumbnail"></button></li>
			<li>
				<button data-icon="list" data-iconpos="top" id="slideshow"></button>
			</li>
		</ul>
	</nav>
</section>